<%= form_with(model: materium, local: true) do |form| %>
  <% if materium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(materium.errors.count, "error") %> prohibited this materium from being saved:</h2>

      <ul>
      <% materium.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :matricula %>
    <%= form.text_field :matricula, id: :materium_matricula %>
  </div>

  <div class="field">
    <%= form.label :Horas %>
    <%= form.number_field :Horas, id: :materium_Horas %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :materium_nombre %>
  </div>

  <div class="field">
    <%= form.label :creditos %>
    <%= form.number_field :creditos, id: :materium_creditos %>
  </div>

  <div class="field">
    <%= form.label :semestre %>
    <%= form.number_field :semestre, id: :materium_semestre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
