<p id="notice"><%= notice %></p>
<div class="titulo">
  MATERIAS
</div>

<br>

<table>
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Horas</th>
      <th>Nombre</th>
      <th>Creditos</th>
      <th>Semestre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @materia.each do |materium| %>
      <tr>
        <td><%= materium.matricula %></td>
        <td><%= materium.Horas %></td>
        <td><%= materium.nombre %></td>
        <td><%= materium.creditos %></td>
        <td><%= materium.semestre %></td>
        <td><%= link_to 'Show', materium %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center>
<strong><%= link_to 'Agregar Materia', new_materium_path %></strong>
</center>
